<dialog id="LogInModal">
    <div>
        <label for="loginInput" class="LabelForInput">Имя:</label>
        <input id="loginInput" type="text" placeholder="Логин">
        <br>
        <label for="passwordInput" class="LabelForInput">Пароль:</label>
        <input id="passwordInput" type="password">
        <br>
    </div>
    <div>
        <button type="button" style="width:33%" id="closeLogInModal">Закрыть</button>
        <button type="submit" id="submitLogInModal" style="float: right;width:40%">Войти</button>
    </div>
</dialog>

