<dialog id="RegistrationModal">
    <div>
        <label for="nameRegister" class="LabelForInput">Имя:</label>
            <input type="text" id="nameRegister">
            <br>
            <label for="loginRegister" class="LabelForInput">Логин:</label>
            <input type="text" id="loginRegister">
            <br>
            <label for="passwordRegister" class="LabelForInput">Пароль:</label>
            <input type="password" id="passwordRegister">
            <br>
            <label for="ConfirmPasswordRegister" class="LabelForInput">Подтверждение пароля:</label>
            <input type="password" id="ConfirmPasswordRegister">
            <br>
    </div>
        <div>
            <button type="button" style="width:33%" id="closeRegistrationModal">Закрыть</button>
            <button type="submit" id="submitRegistrationModal" style="float: right;width:40%">Сохранить изменения</button>
        </div>
</dialog>

